body {
    background-image: url("../../assets/images/background-1.jpg");
    background-size: cover;
    background-image: cross-fade()
}

.container-fluid {
    background-color:transparent;
}

.nav-link {
    color: white;
    outline-color: aliceblue;
    background-color: transparent;
    margin: 40px;
    align-content: center;
}

.nav{
    align-items: center;
}

.navbar-brand {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    height: 100px;
    
}

#jumbo {
    opacity: 0.5;

}




