
html {
    overflow: overlay;
}

body {
    background-image: url("../../assets/images/background-1.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poiret One', cursive;
}

.container-fluid {
    background-color:transparent;
    padding: 0%;
}

.nav-link {
    color: rgb(0, 0, 0);
    outline-color: aliceblue;
    background-color: transparent;
    margin: 1%;
    align-content: center;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.nav{
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    padding: 0%;  
    outline-style: solid;
    outline-color: black;
    outline-width: 1.5px;
}

.navbar-brand {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    height: 100px;

}

.nav-container {
    background: rgba(255,255,255,0.8);
  
}

.jumbotron {
background: transparent;
font-family: 'Poiret One', cursive;
}

#jumbotronP {
    font-family: 'Poiret One', cursive;
    font-size: 24px;
}

.lead {

    font-size: 30px;
}

.jumbotronContainer {
    background: rgba(255,255,255,0.8);
    padding: 5%;
}

.container, .form {
    background: rgba(255,255,255,0.8);
    margin-top: 10px;
    padding: 5%;
    color: black;
    font-family: 'Poiret One', cursive;
    outline-color: black;
    outline-style: solid;
    outline-width: 1.5px;

}

.card-title {
    font-weight: bolder;
    font-size: 24px;
}
.card-text, .form-group  {
    font-weight: bold;
    font-size: 20px;
}

.card-deck, .card-columns {
    display: inline-block;
}

#portfolioPicture {
    width: 20%;
    margin: 4%;
    padding: auto;
    align-self: center;

}

.card-body {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}
.btn {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.portfolioDivs {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.link {
    padding: 5px;
    margin: 1px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: black;
    display: inline-flex
}

#aboutMePic {
    border: white;
    display: inline-flex;
}

#aboutMeParagraph {
    display: inline;
    padding: 5px;
    margin: 5%;
    font-size: 20px;
    font-weight: bold;

}